.background {
    /* background-image: url('https://i.ibb.co/fdG0xBK/papaya-salad-served-dining-table-green-papaya-salad-spicy-thai-food-plate-with-fresh-vegetables-7352.jpg'); */
    /* background-image: url('https://i.ibb.co/jL1j4Pv/spicy-minced-pork-rice-black-plate-1150-23729.jpg'); */
   
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/jL1j4Pv/spicy-minced-pork-rice-black-plate-1150-23729.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-size: 70px;
    color:rgb(61, 41, 10);
}

@media screen and (max-width:776px) {

    h1{
        font-size: 36px;
        margin-top: 10px;
        color: beige;
    }

    .background img{
        
       
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
       
    }
    
}