body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Cormorant', serif;
    background: #262626;
}

.container-fluid {
    margin-top: 200px !important;
}

p {
    font-size: 20px;
    line-height: 33px !important;
    color: #fff;

}

.small {
    letter-spacing: 0.5px !important;
}